<div class="signup">
    <div class="container">
    <div class="signup-content mb-5 pb-4">
        <div class="page-heading">
            <h2 class="pt-4 pb-3 bold text-center">Signup</h2>
        </div>
<div id="signupuser" class="carousel slide" data-ride="carousel">
  
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div id="generalinfo" class="w-100">
          <div class="yellow-bg px-md-5 px-sm-3 ml-0">
              <h6 class="text-uppercase bold px-3 mb-0">General Info</h6>
          </div>
          <div class="px-md-5 px-sm-3">
              <form class="px-3 my-4">
                  <div class="signup-form">
                  <div class="row form-group">
                      <div class="col-sm-6 mb-xs-15">
                          <input type="text" class="form-control py-3 px-3" id="firstname" placeholder="First Name">
                      </div>
                      <div class="col-sm-6">
                          <input type="text" class="form-control py-3 px-3" id="lastname" placeholder="Last Name">
                      </div>
                  </div>
                  <div class="row form-group">
                      <div class="col-sm-6">
                          <input type="email" class="form-control py-3 px-3" id="email" placeholder="Email">
                      </div>
                      <div class="col-sm-6">
                      </div>
                  </div>
                  <div class="row form-group">
                      <div class="col-sm-6 mb-xs-15">
                          <input type="password" class="form-control py-3 px-3" id="password" placeholder="Password">
                      </div>
                      <div class="col-sm-6">
                          <input type="password" class="form-control py-3 px-3" id="conpassword" placeholder="Confirm Password">
                      </div>
                  </div>
                  </div>
                  <div class="row form-group">
                      <div class="col-sm-6 mb-xs-15">
                          <button type="button" class="btn btn-theme-signup text-uppercase"
                          routerLink="/signup">Back</button>
                      </div>
                      <div class="col-sm-6">
                          <button type="button" class="btn btn-theme-signup  text-uppercase"
                          href="#signupuser" role="button" data-slide="next">Skip</button>
                          <button type="button" class="btn btn-theme w-45 text-uppercase pull-right"
                          href="#signupuser" role="button" data-slide="next">Next</button>
                      </div>
                  </div>
              </form>
          </div>
        </div>
    </div>
    <div class="carousel-item">
      <div id="education" class="w-100">
          <div class="yellow-bg px-md-5 px-sm-3 ml-0">
              <h6 class="text-uppercase bold px-3 mb-0">Education</h6>
          </div>
          <div class="px-md-5 px-sm-3">
              <form class="px-3 my-4">
                  <div class="signup-form">
                  <div class="row form-group">
                      <div class="col-sm-12">
                          <select class="form-control">
                                    <option value="2017">primary education</option>
                                    <option value="2018">secondary education</option>
                                    <option value="2019" selected>higher secondary</option>
                          </select>
                      </div>
                  </div>
                  <div class="row form-group">
                      <div class="col-sm-12">
                          <textarea type="text" rows="8" class="form-control py-3 px-3" id="specification" placeholder="Specific about the education level"></textarea>
                      </div>
                  </div>
                  </div>
                  <div class="row form-group">
                      <div class="col-sm-6 mb-xs-15">
                          <button type="button" class="btn btn-theme-signup text-uppercase"
                          href="#signupuser" role="button" data-slide="prev">Back</button>
                      </div>
                      <div class="col-sm-6">
                          <button type="button" class="btn btn-theme-signup  text-uppercase"
                          href="#signupuser" role="button" data-slide="next">Skip</button>
                          <button type="button" class="btn btn-theme w-45 text-uppercase pull-right" 
                          href="#signupuser" role="button" data-slide="next">Next</button>
                      </div>
                  </div>
              </form>
          </div>
          </div>
    </div>
    <div class="carousel-item">
      <div id="paymentinfo" class="w-100">
          <div class="yellow-bg px-md-5 px-sm-3 ml-0">
              <h6 class="text-uppercase bold px-3 mb-0">Payment Info</h6>
          </div>
          <div class="px-md-5 px-sm-3">
              <form class="px-3 my-4">
                  <div class="signup-form">
                  <div class="row form-group">
                      <div class="col-sm-6 mb-xs-15">
                          <input type="text" class="form-control py-3 px-3" id="firstname" placeholder="First Name">
                      </div>
                      <div class="col-sm-6">
                          <input type="text" class="form-control py-3 px-3" id="lastname" placeholder="Last Name">
                      </div>
                  </div>
                  <div class="row form-group">
                      <div class="col-sm-6 mb-xs-15">
                          <input type="text" class="form-control py-3 px-3" id="card" placeholder="Card No">
                      </div>
                      <div class="col-sm-6">
                           <input type="text" class="form-control py-3 px-3 col-sm-3 d-inline-block mb-xs-15" id="cvv" placeholder="CVV">
                           <input type="text" class="form-control py-3 px-3 col-sm-8 d-inline-block pull-right" id="date" placeholder="Expiration Date(YY.MM.DD)">
                      </div>
                  </div>
                  <div class="row form-group">
                      <div class="col-sm-6 mb-xs-15">
                          <input type="text" class="form-control py-3 px-3" id="address1" placeholder="Address 1">
                      </div>
                      <div class="col-sm-6">
                          <input type="text" class="form-control py-3 px-3" id="address2" placeholder="Address 2">
                      </div>
                  </div>
                  <div class="row form-group">
                      <div class="col-sm-6 mb-xs-15">
                          <input type="text" class="form-control py-3 px-3" id="pcode" placeholder="Postal Code">
                      </div>
                      <div class="col-sm-6">
                          <input type="text" class="form-control py-3 px-3" id="city" placeholder="City">
                      </div>
                  </div>
                  </div>
                  <div class="row form-group">
                      <div class="col-sm-6 mb-xs-15">
                          <button type="button" class="btn btn-theme-signup text-uppercase"
                          href="#signupuser" role="button" data-slide="prev">Back</button>
                      </div>
                      <div class="col-sm-6">
                          <button type="button" class="btn btn-theme w-45 text-uppercase pull-right">Complete</button>
                      </div>
                  </div>
              </form>
          </div>
          </div>
    </div>
  </div>
</div>
  </div>
  <ol class="carousel-indicators">
    <li data-target="#signupuser" data-slide-to="0" class="active"></li>
    <li data-target="#signupuser" data-slide-to="1"></li>
    <li data-target="#signupuser" data-slide-to="2"></li>
  </ol>
  </div>
</div>