<header class="header-bg">     
        <nav class="navbar fixed-top navbar-toggleable-md header-bg">
          <div class="container">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand pr-sm-5" href="#" (click)="goToDiv($event,'home-top-banner')"><img class="img-fluid" src="assets/images/CampusWork.png" alt="logo">    </a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mr-auto left-nav" id="headerlink">
              <li class="nav-item active px-sm-2">
                <a class="nav-link px-xs-0" href="#howitworks" (click)="goToDiv($event,'howitworks')">How it works</a>
              </li>
              <li class="nav-item px-sm-2">
                <a class="nav-link px-xs-0" href="#features" (click)="goToDiv($event,'features')">Features</a>
              </li>
              <li class="nav-item px-sm-2">
                <a class="nav-link px-xs-0" href="#home-pricing-banner" (click)="goToDiv($event,'home-pricing-banner')">Pricing</a>
              </li>
            </ul>
            <ul class="navbar-nav right-nav" id="headerbutton">
                <li class="nav-item px-sm-1">
                  <button class="btn btn-theme my-2 px-5" type="button" routerLink="/signup">Sign up</button>
                </li>
                <li class="nav-item px-sm-1">
                <button class="btn btn-theme btn-blank my-2 " data-toggle="modal" data-target="#signin-modal" type="submit">Sign In</button>
              </li>
            </ul>
          </div>
          </div>
        </nav>
    </header>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row pt-4 pb-4">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <a class="navbar-brand pr-sm-5 flogo" style="margin:0px auto" href="#" (click)="goToDiv($event,'home-top-banner')"><img class="img-fluid" src="assets/images/CampusWork.png" alt="logo">    </a>
            </div>
          <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9 align-self-center">
            <span class="copyright ml-7rem">©2017 campusWork. All rights reserved.</span>
            </div>
        </div>
      </div>
    </footer>
