<div class="signup">
    <div class="container">
    <div class="signup-content mb-5 pb-4">
        <div class="page-heading">
            <h2 class="pt-4 pb-3 bold text-center">Signup</h2>
        </div>  
<div id="experince" class="w-100">
          <div class="yellow-bg px-md-5 px-sm-3 ml-0">
              <h6 class="text-uppercase bold px-3 mb-0">Experience</h6>
          </div>
          <div class="">
              <form class="my-4">
                  <div class="signup-form">
                    <div class="exp-block px-md-5 px-sm-3 pt-4 pb-3 mb-5">
                      <div class="row form-group px-3 ">
                          <div class="col-sm-6 mb-xs-15">
                              <input type="text" class="form-control py-3 px-3" id="expertise" placeholder="Area of expertise">
                          </div>
                          <div class="col-sm-6">
                              <input type="text" class="form-control py-3 px-3" id="area" placeholder="Specific Area">
                          </div>
                      </div>
                      <div class="row form-group px-3">
                          <div class="col-sm-6">
                              <input type="text" class="form-control py-3 px-3" id="yearsexp" placeholder="Years of experience">
                          </div>
                          <div class="col-sm-6">
                          </div>
                      </div>
                    </div>
                    <div class="exp-block px-md-5 px-sm-3 pt-4 pb-3 mb-5">
                      <div class="row form-group px-3">
                          <div class="col-sm-6 mb-xs-15">
                              <input type="text" class="form-control py-3 px-3" id="expertise" placeholder="Area of expertise">
                          </div>
                          <div class="col-sm-6">
                              <input type="text" class="form-control py-3 px-3" id="area" placeholder="Specific Area">
                          </div>
                      </div>
                      <div class="row form-group px-3">
                          <div class="col-sm-6 mb-xs-15">
                              <input type="text" class="form-control py-3 px-3" id="yearsexp" placeholder="Years of experience">
                          </div>
                          <div class="col-sm-6">
                              <button type="button" class="btn btn-yl  text-uppercase">Remove Skill</button>
                          </div>
                      </div>
                    </div>
                    <div class="exp-block px-md-5 px-sm-3 pt-4 pb-3 mb-5">
                      <div class="row form-group px-3 ">
                          <div class="col-sm-6 mb-xs-15">
                              <input type="text" class="form-control py-3 px-3" id="expertise" placeholder="Area of expertise">
                          </div>
                          <div class="col-sm-6">
                              <input type="text" class="form-control py-3 px-3" id="area" placeholder="Specific Area">
                          </div>
                      </div>
                      <div class="row form-group px-3">
                          <div class="col-sm-6 mb-xs-15">
                              <input type="text" class="form-control py-3 px-3" id="yearsexp" placeholder="Years of experience">
                          </div>
                          <div class="col-sm-6">
                            <button type="button" class="btn btn-yl  text-uppercase">Remove Skill</button>
                          <button type="button" class="btn btn-yl colored w-45 text-uppercase pull-right">Add Skill</button>
                          </div>
                      </div>
                    </div>
                    <div class="px-md-5 px-sm-3 mb-5">
                    <div class="row form-group px-3 mb-5">
                          <div class="col-sm-6">
                              <input type="file" (change)="changeFile($event)" class="file form-control py-3 px-3" style="opacity:0" id="yearsexp" placeholder="Years of experience" />
                              <button type="button" class="btn btn-yl colored resume-upload w-45 text-uppercase pull-right">Upload</button>
                              <div class="resume-in"><span [hidden]="fileName != null ? true : false">Upload resume</span>
                                <span [hidden]="fileName != null ? false : true">{{fileName}}</span>
                              </div>
                            </div>
                          <div class="col-sm-6">
                          </div>
                      </div>
                    </div>
                  </div>
                <div class="px-md-5 px-sm-3">
                  <div class="row form-group px-3 ">
                      <div class="col-sm-6 mb-xs-15">
                          <button type="button" class="btn btn-theme-signup text-uppercase"
                          routerLink="/signup/general/2">Back</button>
                      </div>
                      <div class="col-sm-6">
                          <button type="button" class="btn btn-theme-signup  text-uppercase"
                          routerLink="/signup/teacher/deposit">Skip</button>
                          <button type="button" class="btn btn-theme w-45 text-uppercase pull-right" 
                          routerLink="/signup/teacher/deposit">Next</button>
                      </div>
                  </div>
                </div>
              </form>
          </div>
          </div>
    </div>
        <ol class="carousel-indicators">
        <li ></li>
        <li ></li>
        <li class="active"></li>
      </ol>
    </div>
</div>