<div class="header  sticky-top bg-faded py-sm-3">
    <a class="navbar-brand align-top col-sm-2 text-xs-center pl-2 mr-0" routerLink='/assignments'><img src="assets/images/logo.jpg" class="logo w-xs-25 w-sm-25" alt="Logo" /></a>
    <span class="navbar-text semibold col-sm-9 text-sm-right text-md-left">
          Easy work helps high school and undergraduate<br/>
          Students doing their homework and projects
    </span>
</div>    
<div id="wrapper" [class.active]="!isSmallWidth"style="overflow:hidden">    
  <div class="container-fluid">
    <div class="row">
      <div id="sidebar">
        <ul class="nav flex-column" (click)="NavSmallToggle(!isSmallWidth)">
          <li class="nav-item px-4 py-4 profile">
            <img src="assets/images/profile-pic.jpg" class="rounded-circle w-25" alt="Profile Page">
            <span class="w-70 d-inline-block align-middle light">
              Hello <br class="d-none"/><span class="semibold">Darshan Patel</span>
              <small>Student</small>
            </span>
          </li>
          <li class="nav-item">
            <a class="px-4 py-3 d-block" routerLink='/assignments'>
              Assignments
              <span id="assignment" class="link-img" ></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="px-4 py-3 d-block" routerLink='/inbox'>
              Inbox
              <span id="inbox" class="link-img" ></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="px-4 py-3 d-block" routerLink='/profile'>
              Profile Page
              <span id="profile" class="link-img" ></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="px-4 py-3 d-block" routerLink='/payment'>
              Payment Settings
              <span id="payment" class="link-img" ></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="px-4 py-3 d-block" routerLink='/assignments'>
              Logout
              <span id="logout" class="link-img" ></span>
            </a>
          </li>
        </ul>
        <div class="toggle ">
          <button type="button" class="btn navbar-toggle mt-sm-5" (click)="NavToggle()" aria-controls="navbar">
              <div class="first icon-bar"></div>
              <div class="second icon-bar"></div>
              <div class="third icon-bar"></div>
          </button>
         </div>
      </div>
      <div class="col-sm-12 main-content">       
        <div class="ml-sm-5">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>   
</div>
   