<div class="px-3 py-5">
  <div class="page-heading">
    <h2 class="mb-5 font-weight-bold d-inline-block">Payment</h2>
    <button type="button" class="btn btn-theme text-uppercase d-inline-block mb-3 float-right" routerLink='/payment'>Payment History</button>
  </div>
  <div class="clearfix"></div>
  <div id="cards" class="pb-4">
    <h6 class="text-uppercase bold mb-3">List Of Cards</h6>
      <div id="accordion" class="px-0 mb-5 col-sm-10 col-md-8 col-lg-6" role="tablist" aria-multiselectable="true">
        <div class="pcard mb-3">
          <div class="pcard-info p-3" role="tab" id="card-info">
            <div class="d-flex justify-content-between">
              <div>
                <span class="pr-2"><img src="/assets/images/card-visa.png" /></span>
                <span class="semibold px-2">**** **** **** 4567</span>
              </div>
              <div>
                <a href="#" (click)="toggleCard($event,1)" class="semibold text-uppercase px-2 pc-edit">Edit</a> 
                <a href="#" (click)="toggleCard($event,1)" class="semibold text-uppercase pl-2 pc-remove"><span class="hidden-xs-down">Remove</span><span class="glyphicon glyphicon-remove hidden-sm-up"></span></a>
              </div> 
            </div>
          </div>
          <div id="pcard-edit-1" class="collapse" role="tabpanel" aria-labelledby="card-info">
            <div class="pcard-block px-sm-5 py-4">
                <form>
                  <div class="form-group">
                    <input type="text" class="form-control py-3 px-3" id="cardnumber" placeholder="Card Number">
                  </div>
                  <div class="form-group">
                    <div class="d-flex justify-content-between">
                      <select class="form-control mr-2">
                      <option value="1" >January</option>
                      <option value="2">February</option>
                      <option value="3">March</option>
                      <option value="4">April</option>
                      <option value="5">May</option>
                      <option value="6" selected>June</option>
                      <option value="7">July</option>
                      <option value="8">August</option>
                      <option value="9">September</option>
                      <option value="10">Octomber</option>
                      <option value="11">November</option>
                      <option value="12">December</option>
                    </select>
                    <select class="form-control ml-2 ">
                      <option value="2017">2017</option>
                      <option value="2018">2018</option>
                      <option value="2019" selected>2019</option>
                      <option value="2020">2020</option>
                      <option value="2021">2021</option>
                      <option value="2022">2022</option>
                      <option value="2023">2023</option>
                    </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="d-flex justify-content-start">
                      <input type="text" class="form-control py-3 px-3 mr-2" style="max-width:100px" id="cvv" placeholder="CVV">
                      <span class="f-11 semibold">3 or four digits usualy found<br/> on signature strip</span>
                    </div>
                  </div>
                <div class="form-group">
                    <div class="d-flex justify-content-between">
                      <div class="">
                      </div>
                      <div class=""><button type="submit" class="btn btn-theme">Update Card Info</button>
                      </div>
                    </div>      
                  </div>
                </form>
            </div>
          </div>
        </div>
        <div class="pcard mb-3">
          <div class="pcard-info p-3" role="tab" id="card-info">
            <div class="d-flex justify-content-between">
              <div>
                <span class="pr-2"><img src="/assets/images/card-master.png" /></span>
                <span class="semibold px-2">**** **** **** 4567</span>
              </div>
              <div>
                <a href="#" (click)="toggleCard($event,2)" class="semibold text-uppercase px-2 pc-edit">Edit</a> 
                <a href="#" (click)="toggleCard($event,1)" class="semibold text-uppercase pl-2 pc-remove"><span class="hidden-xs-down">Remove</span><span class="glyphicon glyphicon-remove hidden-sm-up"></span></a>
              </div> 
            </div>
          </div>
          <div id="pcard-edit-2" class="collapse" role="tabpanel" aria-labelledby="card-info">
            <div class="pcard-block px-sm-5 py-4">
                <form>
                  <div class="form-group">
                    <input type="text" class="form-control py-3 px-3" id="cardnumber" placeholder="Card Number">
                  </div>
                  <div class="form-group">
                    <div class="d-flex justify-content-between">
                      <select class="form-control mr-2">
                      <option value="1" >January</option>
                      <option value="2">February</option>
                      <option value="3">March</option>
                      <option value="4">April</option>
                      <option value="5">May</option>
                      <option value="6" selected>June</option>
                      <option value="7">July</option>
                      <option value="8">August</option>
                      <option value="9">September</option>
                      <option value="10">Octomber</option>
                      <option value="11">November</option>
                      <option value="12">December</option>
                    </select>
                    <select class="form-control ml-2 ">
                      <option value="2017">2017</option>
                      <option value="2018">2018</option>
                      <option value="2019" selected>2019</option>
                      <option value="2020">2020</option>
                      <option value="2021">2021</option>
                      <option value="2022">2022</option>
                      <option value="2023">2023</option>
                    </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="d-flex justify-content-start">
                      <input type="text" class="form-control py-3 px-3 mr-2" style="max-width:100px" id="cvv" placeholder="CVV">
                      <span class="f-11 semibold">3 or four digits usualy found<br/> on signature strip</span>
                    </div>
                  </div>
                <div class="form-group">
                    <div class="d-flex justify-content-between">
                      <div class="">
                      </div>
                      <div class=""><button type="submit" class="btn btn-theme">Update Card Info</button>
                      </div>
                    </div>      
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>
      <h6 class="text-uppercase bold mb-3">Add New Card</h6>
      <div id="addcard" class="addcard">
            <!-- <form class="form-inline">
                  <div class="form-group mr-3">
                    <input type="text" class="form-control px-3" id="cardnumber" placeholder="Card Number">
                  </div>
                  <div class="form-group mr-3">
                      <select class="form-control">
                      <option value="1" >January</option>
                      <option value="2">February</option>
                      <option value="3">March</option>
                      <option value="4">April</option>
                      <option value="5">May</option>
                      <option value="6" selected>June</option>
                      <option value="7">July</option>
                      <option value="8">August</option>
                      <option value="9">September</option>
                      <option value="10">Octomber</option>
                      <option value="11">November</option>
                      <option value="12">December</option>
                    </select>
                  </div>
                  <div class="form-group mr-3">
                    <select class="form-control">
                      <option value="2017">2017</option>
                      <option value="2018">2018</option>
                      <option value="2019" selected>2019</option>
                      <option value="2020">2020</option>
                      <option value="2021">2021</option>
                      <option value="2022">2022</option>
                      <option value="2023">2023</option>
                    </select>
                  </div>
                  <div class="form-group mr-2">
                      <input type="text" class="form-control px-3 " style="max-width:100px" id="cvv" placeholder="CVV">
                  </div>
                <div class="form-group ">
                      <button type="submit" class="btn btn-theme">Add Card</button>     
                  </div>
                </form> -->
                <form>
                  <div class="form-group mr-sm-2">
                    <input type="text" class="form-control py-3 px-3" id="addcardnumber" placeholder="Card Number">
                  </div>
                  <div class="form-group mr-sm-2">
                    <div class="d-flex justify-content-between">
                      <select class="form-control mr-2">
                      <option value="1" >January</option>
                      <option value="2">February</option>
                      <option value="3">March</option>
                      <option value="4">April</option>
                      <option value="5">May</option>
                      <option value="6" selected>June</option>
                      <option value="7">July</option>
                      <option value="8">August</option>
                      <option value="9">September</option>
                      <option value="10">Octomber</option>
                      <option value="11">November</option>
                      <option value="12">December</option>
                    </select>
                    <select class="form-control ml-2 ml-sm-0">
                      <option value="2017">2017</option>
                      <option value="2018">2018</option>
                      <option value="2019" selected>2019</option>
                      <option value="2020">2020</option>
                      <option value="2021">2021</option>
                      <option value="2022">2022</option>
                      <option value="2023">2023</option>
                    </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="d-flex justify-content-start">
                      <input type="text" class="form-control py-3 px-3 mr-2" style="max-width:100px" id="cvv" placeholder="CVV">
                    </div>
                  </div>
                <div class="form-group">
                    <div class="d-flex justify-content-between">
                      <div class="">
                      </div>
                      <div class=""><button type="submit" class="btn btn-theme">Add Card</button>
                      </div>
                    </div>      
                  </div>
                </form>
      </div>
  </div>
</div>