.pcard{
   border:2px solid #ecf0f1;
   border-radius: 6px; 
}
.pcard .pcard-info{
    border-bottom: 2px solid #ecf0f1;
}
a.pc-edit,a.pc-remove{
    color: #2c3e50
}
a.pc-edit:hover,a.pc-edit:focus{
    color: #55b4e0;
    text-decoration: none
}
a.pc-remove:hover,a.pc-remove:focus{
    color: #f9572a;
    text-decoration: none
}
#addcard form input{
    padding: 11px 15px !important
}
#addcard form select{
    height: 47px !important
}
@media (min-width: 768px) {
#addcard form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-flow: row wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
}
}
@media (max-width: 576px) {
    .pcard-block{
        padding-right:15px;
        padding-left: 15px 
    }
    .pcard-info a,.pcard-info span{
        font-size: 12px
    }
    .pcard-info img{
        max-width: 20px
    }
}