<div class="signup">
    <div class="container">
    <div class="signup-content mb-5 pb-4">
        <div class="page-heading">
            <h2 class="pt-4 pb-3 bold text-center">Signup</h2>
        </div>  
<div id="education" class="w-100">
          <div class="yellow-bg px-md-5 px-sm-3 ml-0">
              <h6 class="text-uppercase bold px-3 mb-0">Education</h6>
          </div>
          <div class="px-md-5 px-sm-3">
              <form class="px-3 my-4">
                  <div class="signup-form">
                  <div class="row form-group">
                      <div class="col-sm-12">
                          <select class="form-control">
                                    <option value="2017">primary education</option>
                                    <option value="2018">secondary education</option>
                                    <option value="2019" selected>higher secondary</option>
                          </select>
                      </div>
                  </div>
                  <div class="row form-group">
                      <div class="col-sm-12">
                          <textarea type="text" rows="8" class="form-control py-3 px-3" id="specification" placeholder="Specific about the education level"></textarea>
                      </div>
                  </div>
                  </div>
                  <div class="row form-group">
                      <div class="col-sm-6 mb-xs-15">
                          <button type="button" class="btn btn-theme-signup text-uppercase"
                          routerLink="/signup/general/1">Back</button>
                      </div>
                      <div class="col-sm-6">
                          <button type="button" class="btn btn-theme-signup  text-uppercase"
                          routerLink="/signup/student/payment">Skip</button>
                          <button type="button" class="btn btn-theme w-45 text-uppercase pull-right" 
                          routerLink="/signup/student/payment">Next</button>
                      </div>
                  </div>
              </form>
          </div>
          </div>
    </div>
        <ol class="carousel-indicators">
        <li ></li>
        <li ></li>
        <li class="active"></li>
      </ol>
    </div>
</div>
  