<div class="signup">
    <div class="container">
        <div class="signup-content mb-5 pb-5">
            <div class="page-heading">
                <h2 class="pt-4 pb-3 bold text-center">Signup</h2>
            </div>
            <div class="px-md-5 px-sm-3" id="profile-selector">
                <div class="row px-3">
                    <div class="col-sm-6 mb-4">
                        <div class="text-center pro-box py-2" routerLink="/signup/general/1">
                            <img src="/assets/images/student-icon.png" class="my-sm-2 my-md-4"/>
                            <p class="pt-3 tagline semibold">Need help with assignment / project</p>   
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-center pro-box py-2" routerLink="/signup/general/2">
                            <img src="/assets/images/teacher-icon.png" class="my-sm-2 my-md-4"/>
                            <p class="pt-3 tagline semibold">I would like to assist student</p>
                        </div>
                    </div>
            </div>
</div>

        