<div class="signup">
    <div class="container">
    <div class="signup-content mb-5 pb-4">
        <div class="page-heading">
            <h2 class="pt-4 pb-3 bold text-center">Signup</h2>
        </div>  
<div id="paymentinfo" class="w-100">
          <div class="px-md-5 px-sm-3">
              <form class="px-3 my-4">
                  <div class="signup-form">
                  <div class="row form-group">
                     <label class="col-sm-12 bold mb-4">Direct deposit Info</label>
                      <div class="col-sm-12 mb-xs-15">
                          <input type="text" class="form-control py-3 px-3 border-blue mb-4" id="firstname" placeholder="Routing No">
                      </div>
                      <div class="col-sm-12">
                          <input type="text" class="form-control py-3 px-3 border-blue mb-4" id="lastname" placeholder="Account No">
                      </div>
                  </div>
                  </div>
                  <div class="row form-group">
                      <div class="col-sm-6 mb-xs-15">
                          <button type="button" class="btn btn-theme-signup text-uppercase"
                          routerLink="/signup/teacher/experience">Back</button>
                      </div>
                      <div class="col-sm-6">
                          <button type="button" class="btn btn-theme-signup  text-uppercase" routerLink="/signup">Skip</button>
                          <button type="button" class="btn btn-theme w-45 text-uppercase pull-right" routerLink="/signup">Complete</button>
                      </div>
                  </div>
              </form>
          </div>
          </div>
    </div>
        <ol class="carousel-indicators">
        <li ></li>
        <li ></li>
        <li ></li>
      </ol>
    </div>
</div>
  