<div class="px-3 py-5">
  <div class="page-heading">
    <h2 class="mb-5 bold d-inline-block">Profile</h2>
  </div>
  <div class="clearfix"></div>
  <div class="yellow-bg px-5">
        <h6 class="text-uppercase bold px-3 mb-0">General Info</h6>
  </div>
  <div id="profile-gen">
      <form class="my-4 mx-contain">
          <div class="row form-group">
            <label class="col-sm-3 mt-sm-3 p-xs-0">First Name</label>
            <input type="text" class="form-control py-3 px-3 col-sm-6 col-md-4" id="firstname" placeholder="First Name">
          </div>
          <div class="row form-group">
            <label class="col-sm-3 mt-sm-3 p-xs-0">Last Name</label>
            <input type="text" class="form-control py-3 px-3 col-sm-6 col-md-4" id="lastname" placeholder="Last Name">
          </div>
          <div class="row form-group">
            <label class="col-sm-3 mt-sm-3 p-xs-0">Email</label>
            <input type="email" class="form-control py-3 px-3 col-sm-6 col-md-4" id="email" placeholder="Email">
          </div>
          <div class="row form-group">
            <label class="col-sm-3  mt-sm-3 p-xs-0">Password</label>
            <input type="password" class="form-control py-3 px-3 col-sm-6 col-md-4" id="password" placeholder="Password">
          </div>
        </form>
  </div>
  <div class="clearfix"></div>
  <div class="yellow-bg px-5">
        <h6 class="text-uppercase bold px-3 mb-0">Education</h6>
  </div>
  <div id="profile-edu" class="pb-4">
      <form class="my-4 mx-contain">
          <div class="row form-group">
            <label class="col-sm-3  mt-sm-3 p-xs-0">Select education level</label>
            <select class="form-control col-sm-6">
                      <option value="2017">primary education</option>
                      <option value="2018">secondary education</option>
                      <option value="2019" selected>higher secondary</option>
            </select>
          </div>
          <div class="row form-group">
              <label class="col-sm-3 mt-sm-3 p-xs-0">Specific about the education level</label>
              <textarea type="text" rows="6" class="form-control py-3 px-3 col-sm-6" id="specificlevel" placeholder="Last Name"></textarea>
          </div>
          <div class="row form-group">
              <label class="col-sm-3 mt-sm-3 p-xs-0"></label>
              <div class="col-sm-6 p-xs-0 p-0">
              <button type="button" class="btn btn-theme pull-right">Save</button>
              </div> 
          </div>
          <div class="mt-5 d-flex justify-content-end">
              
          </div> 
        </form>
  </div>
</div>