<div class="signup">
    <div class="container">
    <div class="signup-content mb-5 pb-4">
        <div class="page-heading">
            <h2 class="pt-4 pb-3 bold text-center">Signup</h2>
        </div>
<div id="signupuser" class="carousel slide" data-ride="carousel">
  
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div id="generalinfo" class="w-100">
          <div class="yellow-bg px-md-5 px-sm-3 ml-0">
              <h6 class="text-uppercase bold px-3 mb-0">General Info</h6>
          </div>
          <div class="px-md-5 px-sm-3">
              <form class="px-3 my-4">
                  <div class="signup-form">
                  <div class="row form-group">
                      <div class="col-sm-6 mb-xs-15">
                          <input type="text" class="form-control py-3 px-3" id="firstname" placeholder="First Name">
                      </div>
                      <div class="col-sm-6">
                          <input type="text" class="form-control py-3 px-3" id="lastname" placeholder="Last Name">
                      </div>
                  </div>
                  <div class="row form-group">
                      <div class="col-sm-6">
                          <input type="email" class="form-control py-3 px-3" id="email" placeholder="Email">
                      </div>
                      <div class="col-sm-6">
                      </div>
                  </div>
                  <div class="row form-group">
                      <div class="col-sm-6 mb-xs-15">
                          <input type="password" class="form-control py-3 px-3" id="password" placeholder="Password">
                      </div>
                      <div class="col-sm-6">
                          <input type="password" class="form-control py-3 px-3" id="conpassword" placeholder="Confirm Password">
                      </div>
                  </div>
                  </div>
                  <div class="row form-group">
                      <div class="col-sm-6 mb-xs-15">
                          <button type="button" class="btn btn-theme-signup text-uppercase"
                          routerLink="/signup">Back</button>
                      </div>
                      <div class="col-sm-6">
                          <button type="button" class="btn btn-theme-signup  text-uppercase"
                          href="#signupuser" role="button" data-slide="next">Skip</button>
                          <button type="button" class="btn btn-theme w-45 text-uppercase pull-right"
                          href="#signupuser" role="button" data-slide="next">Next</button>
                      </div>
                  </div>
              </form>
          </div>
        </div>
    </div>
    <div class="carousel-item">
      <div id="experince" class="w-100">
          <div class="yellow-bg px-md-5 px-sm-3 ml-0">
              <h6 class="text-uppercase bold px-3 mb-0">Experience</h6>
          </div>
          <div class="">
              <form class="my-4">
                  <div class="signup-form">
                    <div class="exp-block px-md-5 px-sm-3 pt-4 pb-3 mb-5">
                      <div class="row form-group px-3 ">
                          <div class="col-sm-6 mb-xs-15">
                              <input type="text" class="form-control py-3 px-3" id="expertise" placeholder="Area of expertise">
                          </div>
                          <div class="col-sm-6">
                              <input type="text" class="form-control py-3 px-3" id="area" placeholder="Specific Area">
                          </div>
                      </div>
                      <div class="row form-group px-3">
                          <div class="col-sm-6">
                              <input type="text" class="form-control py-3 px-3" id="yearsexp" placeholder="Years of experience">
                          </div>
                          <div class="col-sm-6">
                          </div>
                      </div>
                    </div>
                    <div class="exp-block px-md-5 px-sm-3 pt-4 pb-3 mb-5">
                      <div class="row form-group px-3">
                          <div class="col-sm-6 mb-xs-15">
                              <input type="text" class="form-control py-3 px-3" id="expertise" placeholder="Area of expertise">
                          </div>
                          <div class="col-sm-6">
                              <input type="text" class="form-control py-3 px-3" id="area" placeholder="Specific Area">
                          </div>
                      </div>
                      <div class="row form-group px-3">
                          <div class="col-sm-6 mb-xs-15">
                              <input type="text" class="form-control py-3 px-3" id="yearsexp" placeholder="Years of experience">
                          </div>
                          <div class="col-sm-6">
                              <button type="button" class="btn btn-yl  text-uppercase">Remove Skill</button>
                          </div>
                      </div>
                    </div>
                    <div class="exp-block px-md-5 px-sm-3 pt-4 pb-3 mb-5">
                      <div class="row form-group px-3 ">
                          <div class="col-sm-6 mb-xs-15">
                              <input type="text" class="form-control py-3 px-3" id="expertise" placeholder="Area of expertise">
                          </div>
                          <div class="col-sm-6">
                              <input type="text" class="form-control py-3 px-3" id="area" placeholder="Specific Area">
                          </div>
                      </div>
                      <div class="row form-group px-3">
                          <div class="col-sm-6 mb-xs-15">
                              <input type="text" class="form-control py-3 px-3" id="yearsexp" placeholder="Years of experience">
                          </div>
                          <div class="col-sm-6">
                            <button type="button" class="btn btn-yl  text-uppercase">Remove Skill</button>
                          <button type="button" class="btn btn-yl colored w-45 text-uppercase pull-right">Add Skill</button>
                          </div>
                      </div>
                    </div>
                    <div class="px-md-5 px-sm-3 mb-5">
                    <div class="row form-group px-3 mb-5">
                          <div class="col-sm-6">
                              <input type="file" (change)="changeFile($event)" class="form-control py-3 px-3" style="opacity:0" id="yearsexp" placeholder="Years of experience" />
                              <button type="button" class="btn btn-yl colored resume-upload w-45 text-uppercase pull-right">Upload</button>
                              <div class="resume-in"><span [hidden]="fileName != null ? true : false">Upload resume</span>
                                <span [hidden]="fileName != null ? false : true">{{fileName}}</span>
                              </div>
                            </div>
                          <div class="col-sm-6">
                          </div>
                      </div>
                    </div>
                  </div>
                <div class="px-md-5 px-sm-3">
                  <div class="row form-group px-3 ">
                      <div class="col-sm-6 mb-xs-15">
                          <button type="button" class="btn btn-theme-signup text-uppercase"
                          href="#signupuser" role="button" data-slide="prev">Back</button>
                      </div>
                      <div class="col-sm-6">
                          <button type="button" class="btn btn-theme-signup  text-uppercase"
                          href="#signupuser" role="button" data-slide="next">Skip</button>
                          <button type="button" class="btn btn-theme w-45 text-uppercase pull-right" 
                          href="#signupuser" role="button" data-slide="next">Next</button>
                      </div>
                  </div>
                </div>
              </form>
          </div>
          </div>
    </div>
    <div class="carousel-item">
      <div id="paymentinfo" class="w-100">
          <div class="px-md-5 px-sm-3">
              <form class="px-3 my-4">
                  <div class="signup-form">
                  <div class="row form-group">
                     <label class="col-sm-12 bold mb-4">Direct deposit Info</label>
                      <div class="col-sm-12 mb-xs-15">
                          <input type="text" class="form-control py-3 px-3 border-blue mb-4" id="firstname" placeholder="Routing No">
                      </div>
                      <div class="col-sm-12">
                          <input type="text" class="form-control py-3 px-3 border-blue mb-4" id="lastname" placeholder="Account No">
                      </div>
                  </div>
                  </div>
                  <div class="row form-group">
                      <div class="col-sm-6 mb-xs-15">
                          <button type="button" class="btn btn-theme-signup text-uppercase"
                          href="#signupuser" role="button" data-slide="prev">Back</button>
                      </div>
                      <div class="col-sm-6">
                          <button type="button" class="btn btn-theme-signup  text-uppercase">Skip</button>
                          <button type="button" class="btn btn-theme w-45 text-uppercase pull-right">Complete</button>
                      </div>
                  </div>
              </form>
          </div>
          </div>
    </div>
  </div>
</div>
  </div>
  <ol class="carousel-indicators">
    <li data-target="#signupuser" data-slide-to="0" class="active"></li>
    <li data-target="#signupuser" data-slide-to="1"></li>
    <li data-target="#signupuser" data-slide-to="2"></li>
  </ol>
  </div>
</div>