<div class="signup">
    <div class="container">
    <div class="signup-content mb-5 pb-4">
        <div class="page-heading">
            <h2 class="pt-4 pb-3 bold text-center">Signup</h2>
        </div>  
<div id="paymentinfo" class="w-100">
          <div class="yellow-bg px-md-5 px-sm-3 ml-0">
              <h6 class="text-uppercase bold px-3 mb-0">Payment Info</h6>
          </div>
          <div class="px-md-5 px-sm-3">
              <form class="px-3 my-4">
                  <div class="signup-form">
                  <div class="row form-group">
                      <div class="col-sm-6 mb-xs-15">
                          <input type="text" class="form-control py-3 px-3" id="firstname" placeholder="First Name">
                      </div>
                      <div class="col-sm-6">
                          <input type="text" class="form-control py-3 px-3" id="lastname" placeholder="Last Name">
                      </div>
                  </div>
                  <div class="row form-group">
                      <div class="col-sm-6 mb-xs-15">
                          <input type="text" class="form-control py-3 px-3" id="card" placeholder="Card No">
                      </div>
                      <div class="col-sm-6">
                           <input type="text" class="form-control py-3 px-3 col-sm-3 d-inline-block mb-xs-15" id="cvv" placeholder="CVV">
                           <input type="text" class="form-control py-3 px-3 col-sm-8 d-inline-block pull-right" id="date" placeholder="Expiration Date(YY.MM.DD)">
                      </div>
                  </div>
                  <div class="row form-group">
                      <div class="col-sm-6 mb-xs-15">
                          <input type="text" class="form-control py-3 px-3" id="address1" placeholder="Address 1">
                      </div>
                      <div class="col-sm-6">
                          <input type="text" class="form-control py-3 px-3" id="address2" placeholder="Address 2">
                      </div>
                  </div>
                  <div class="row form-group">
                      <div class="col-sm-6 mb-xs-15">
                          <input type="text" class="form-control py-3 px-3" id="pcode" placeholder="Postal Code">
                      </div>
                      <div class="col-sm-6">
                          <input type="text" class="form-control py-3 px-3" id="city" placeholder="City">
                      </div>
                  </div>
                  </div>
                  <div class="d-flex justify-content-between">
                      <div class="col-sm-6 mb-xs-15 pl-0">
                       <button type="button" class="btn btn-theme-signup text-uppercase"
                          style="width:135px" routerLink="/signup/student/education">Back</button>
                      </div>
                       <div class="col-sm-6 pr-0"> 
                        <button type="button" style="width:135px" class="btn btn-theme text-uppercase pull-right" routerLink="/signup">Complete</button>
                       </div>
                  </div>
              </form>
          </div>
          </div>
    </div>
        <ol class="carousel-indicators">
        <li ></li>
        <li ></li>
        <li ></li>
      </ol>
    </div>
</div>
