<div class="px-3 py-5">
  <div class="page-heading">
    <h2 class="mb-5 bold d-inline-block">Assignment
    </h2>
    <div class="text-uppercase d-inline-block float-right mb-3">
    <label class="align-middle font-weight-bold mb-0 f-12 ">Create Assignment</label>
    <button type="button" class="btn btn-create rounded-circle" routerLink='/assignment-addedit'><i class="glyphicon glyphicon-plus"></i></button>
  </div>
  </div>
  <div class="clearfix"></div>
  <div id="assignment-info" class="pb-4">
    <h6 class="text-uppercase bold">List Of Assignments</h6>
      <table class="table table-responsive table-bordered attachment-tbl" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage">
      <tbody>
        <tr>
          <td ><mfDefaultSorter by="name">Attachment Name</mfDefaultSorter> </td>
          <td>ID</td>
          <td>Submitted at</td>
          <td>Due Date</td>
          <td>Status</td>
        </tr>
        <tr [hidden]="!isLoading">
          <td colspan="5" class="text-center">
            <div class="loader" >Loading..</div>
          </tr>
        <tr *ngFor="let item of mf.data">
          <td routerLink="/assignment-details" style="cursor:pointer">{{item.name}}</td>
          <td>{{item.id}}</td>
          <td>{{item.submittedAt}}</td>
          <td>{{item.dueDate}}</td>
          <td [class.text-success]="item.status == 'Done'" [class.text-warning]="item.status == 'In Progress'">{{item.status}}</td>
        </tr>
      </tbody>
      <tfoot>
    <tr >
        <td colspan="5" class="border-0 px-0 py-4">
            <mfBootstrapPaginator></mfBootstrapPaginator>
        </td>
    </tr>
    </tfoot>
      </table>
  </div>
</div>