<div class="px-3 py-5 mx-content-width">
  <div class="page-heading">
    <h2 class="mb-5 font-weight-bold d-inline-block">Assignment</h2>
    <button type="button" class="btn btn-theme text-uppercase d-inline-block mb-3 float-right" routerLink='/assignments'>Back to List</button>
  </div>
  <div class="clearfix"></div>
  <div id="assignment-info" class="pb-4">
    <h6 class="text-uppercase bold pb-4">Assignment Info</h6>
      <p class="bold mb-1">Assignment Name</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
      <table class="table table-responsive borderless table-sm info-tbl">
        <thead >
        <tr>
          <th>Assignment ID</th>
          <th>Submitted at</th>
          <th>Due date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>0056</td>
          <td>04.07.2017</td>
          <td>07.07.2017</td>
          <td>Done</td>
        </tr>
      </tbody>
      </table>
  </div>
  <div id="attachment" class="pb-5">
    <h6 class="text-uppercase bold">Assignments</h6>
    <table class="table table-responsive table-bordered attachment-tbl">
      <tbody>
        <tr>
          <td>Documents Name   <i class="glyphicon glyphicon-chevron-up f-10"></i></td>
          <td>Attached by</td>
          <td>Attached at</td>
          <td>Document type</td>
        </tr>
        <tr>
          <td>Lorem ipsum dolor sit amet,</td>
          <td>Bob Sinclar</td>
          <td>04.07.2017</td>
          <td>Completed</td>
        </tr>
        <tr>
          <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</td>
          <td>Bob Sinclar</td>
          <td>15.07.2017</td>
          <td>Assignment Problem</td>
        </tr>
        <tr>
          <td>Lorem ipsum dolor sit amet, consectetur adipiscing</td>
          <td>Bob Sinclar</td>
          <td>01.08.2017</td>
          <td>Completed</td>
        </tr>
        <tr>
          <td>Lorem ipsum dolor sit amet, consectetur</td>
          <td>Bob Sinclar</td>
          <td>04.07.2017</td>
          <td class="text-left">Assignment Problem</td>
        </tr>
      </tbody>
      </table>
      <div id="message" class="row">
        <form class="col-sm-6">
          <div class="form-group">
            <label for="sendmessage" class="font-weight-bold">send a message to the teacher</label>
            <textarea class="form-control" id="sendmessage" rows="4"></textarea>
          </div>
          <button type="button" class="btn btn-theme text-uppercase">send</button>
        </form>
      </div>
  </div>
  <div id="payment-info">
      <p class="font-weight-bold text-uppercase">Payment Info</p>
      <table class="table table-responsive table-bordered table-centered">
        <thead >
        <tr>
          <th class="bold">Date</th>
          <th class="bold">Card</th>
          <th class="bold">Subject</th>
          <th class="bold">Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">04.07.2017</td>
          <td>**** **** **** 4567</td>
          <td>07.07.2017</td>
          <td>$100</td>
        </tr>
      </tbody>
      </table>
  </div>
</div>